body{
    display:flex;
    padding: 15px;
    margin: 5px 0 22px 0;
    border:none;
    justify-content: center;
    align-items:flex-start;
    border-radius: 10px;
    background-image: linear-gradient(to right, #015c92,#2d82b5);
}

.btn{
     text-align:center;
}
button{
    background-color: black;
    font-size:15px;
    color:bisque;
    margin-top:20px;
    padding:15px 25px;
    border: 1px solid #006D77;
    box-shadow:2px;
}
input ,select{
	display:block;
	width:200px;
	
}